<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

  </appSettings>
  <connectionStrings>
    <add name="SystemAdmin" connectionString="Server=DESENV;Port=5432;Database=BD_ADM;Uid=desenv;Pwd=exec@2017;" />
    <add name="SystemData" connectionString="Server=DESENV;Port=5432;Database=BD_DATA;Uid=desenv;Pwd=exec@2017;" />

    <!--BIG DATA V8-->
    <add name="SystemAdminSql" connectionString="server=DESENV\SQL2014;database=BD8_ADM;uid=sa;pwd=execplan2015*" providerName="System.Data.SqlClient" />
    <add name="SystemDataSql" connectionString="server=DESENV\SQL2014;database=BD8_DATA;uid=sa;pwd=execplan2015*" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>