<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

  </appSettings>
  <connectionStrings>
    <add name="admin" connectionString="Server=localhost;Port=5432;Database=test_application;Uid=postgres;Pwd=exec@2017;" providerName="System.Data.Odbc" />
  </connectionStrings>
</configuration>